@model IEnumerable<Demo.Web.Models.PBIReport>

<style>
    a[aria-expanded="false"].report-menu svg {
        transition: all .5s;
        transform: rotate(0);
    }

    a[aria-expanded="true"].report-menu svg {
        transition: all .5s;
        transform: rotate(90deg);
    }
</style>

<div class="list-group list-group-flush">

    @foreach (var pbiReport in Model)
    {
        var report = pbiReport.Report;
        var pages = pbiReport.Pages;

        <a href="#report_@report.Id" data-toggle="collapse" class="report-menu list-group-item list-group-item-action">
            <svg width="1.05em" height="1.05em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z" />
                <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
            </svg>
            <span>@report.Name</span>
        </a>

        <div id="report_@report.Id" class="page-container collapse">

            @foreach (var reportPage in pages)
            { 
                <a href="#" class="item-page list-group-item list-group-item-action" onclick="loadReport('report-container', '@report.Id', '@reportPage.Name')">@reportPage.DisplayName</a> 
            }

        </div>

    }
</div>